@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');

body {
  font-family: 'Gentium Book Basic',serif;
  color: rgba(0,0,0,.87);
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: 'Lato',sans-serif;
}

.navbar .site-name {
  font-family: 'Lato',sans-serif;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.nav-links,
.sidebar-links,
.next,
.prev {
  font-family: 'Lato',sans-serif;
}

.tip,
.warning
.danger {
  font-family: 'Lato',sans-serif;
}

.fig-title {
  font-family: 'Lato',sans-serif;
  font-weight: 600
}

.material-icons {
  position: relative;
  top: 5px;
}

@media only screen and (max-width: 419px) {
  .navbar .site-name {
    font-size: 0.9rem;
  }
}